<h1>Type your Question to your coach</h1>
<p>To know if you are ready to work</p>

<form action="/answer">
  <input type="text" name="query" placeholder="What is your question?">
  <input type="submit" value="Ask!">
</form>